BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 160
BreakAfterAttributes: Always
AlignConsecutiveDeclarations: true
AlignAfterOpenBracket: true
BinPackParameters: AlwaysOnePerLine
BinPackArguments: true
